.button {
   display: flex;
   justify-content: center;
   align-items: center;

   font-weight: 600;
   font-size: 1.6rem;
   line-height: 2.4rem;
   text-decoration: none;

   background: var(--coral);
   border-radius: 6px;
   border: none;

   width: 14.8rem;
   height: 4rem;

   color: #ffffff;
}

.button:hover {
   background-color: var(--button-hover);
}