#footer {
   display: flex;
   align-items: center;
   justify-content: center;

   background-color: var(--verde);
   height: 10.4rem;
}

#footer p {
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 2.4rem;
   text-align: center;

   color: var(--footer-text-color);
}

#footer a {
   text-decoration: none;
   color: white;
}

@media (min-width : 1024px) {
   #footer {
      height: 8rem;
   }
}