@media (max-width: 760px) {
   main {
      background-image: url(../../assets/FormaBNormal.svg);
      background-repeat: no-repeat;
      background-position: left 76%;
      background-clip: border-box;
      background-size: 8.2rem 41.5rem;
   }
}