.label-azul {
   font-weight: 600;
   font-size: 1.6rem;
   line-height: 2.4rem;

   color: var(--azul);
}

.label-cinza {
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 2.4rem;

   color: var(--cinza);
}

@media (min-width : 768px) {
   .label-cinza {
      font-size: 1.8rem;
   }
}