#logo {
   margin-block: 2.4rem;
}

#logo .logo__img {
   display: flex;
   align-items: center;
   justify-content: center;
}

#logo .logo__img svg {
   width: 50%;
}

@media (min-width: 768px) {
   #logo {
      margin-block: 0;
      margin-top: 9rem;
   }
}

@media (min-width : 1024px) {
   #logo {
      margin-top: 0;
   }
}