#header {
   background-image: url(../../../assets/Patas-p.png);
   background-repeat: no-repeat;
   background-position: right top;
   background-clip: border-box;
}

@media(min-width: 768px) {
   #header {
      background-image: url(../../../assets/Patas-m.png);
   }
}

@media(min-width: 1024px) {
   #header {
      background-image: url(../../../assets/Patas-g.png);
   }
}