#logo .logo__img {
   display: flex;
   align-items: center;
   justify-content: center;

   margin-top: 4rem;
}

#logo .logo__img svg {
   width: 50%;
}

#logo .logo__img svg path {
   fill: var(--azul);
}