#login .login__text {
   display: flex;
   align-items: center;
   justify-content: center;

   padding: 2.4rem;
}

#login .login__paragraph {
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 2.1rem;

   color: var(--azul);
}

#login .login__form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 3.4rem;
}

#login .login__form-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   gap: 0.4rem;
   width: 100%;

   margin-bottom: 2rem;
}

#login .login__form-label {
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 2.4rem;

   color: var(--cinza);
}

#login .login__form-input {
   background: var(--cinza-claro-fundos);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
   border-radius: 6px;

   border: none;

   width: 100%;
   padding: 1rem;

   text-align: center;

   font-weight: 400;
   font-size: 1.2rem;
   line-height: 1.6rem;

   color: var(--cinza);
}

#login .login__form-input::placeholder {
   color: var(--cinza-claro);
}

#login .login__form-link {
   font-weight: 400;
   font-size: 1.2rem;
   line-height: 2.4rem;

   color: var(--coral);
}

#login .login__form-button {
   margin-bottom: 24.7rem;

   width: 14.8rem;
   height: 4rem;

   font-weight: 600;
   font-size: 1.6rem;
   line-height: 2.4rem;
}