#profile .profile__description {
   padding: 2.4rem 5.6rem;
}

#profile .profile__form {
   align-items: flex-start;
}

#profile .profile__form-title {
   align-self: center;

   font-weight: 600;
   font-size: 2.1rem;
   line-height: 2.4rem;

   color: var(--cinza);
}

#profile .profile__form-photo {
   display: flex;
   align-items: center;
   flex-direction: column;

   gap: 0.8rem;

   width: 100%;
}

#profile .profile__form-text {
   align-self: flex-start;
}

#profile .profile__form-image {
   display: flex;
   align-items: center;
   flex-direction: column;

   gap: 0.4rem;
}

#profile .profile__form-imageView {
   width: 8rem;
   height: 8rem;
}

#profile .profile__form-imageEditor {
   font-weight: 400;
   font-size: 1.2rem;
   line-height: 2.4rem;

   color: var(--coral);
}

#profile .profile__form-button {
   align-self: center;
}

@media (min-width : 768px) {
   #profile .profile__description {
      padding: 2.6rem 12.2rem;
      margin-top: 8rem;
   }

   #profile .form__mensage {
      min-height: 10.4rem;
   }
}

@media (min-width : 1024px) {
   #profile .profile__description {
      padding-inline: 44.4rem;
   }
}