#contact .contact__description {
   padding: 2.4rem 6.7rem;
}

#contact .contact__form-button {
   margin-top: 1.6rem;
}

@media (min-width : 768px) {
   #contact .contact__description {
      padding: 4rem 12.2rem;
      margin-top: 6rem;
   }

   #contact .form__mensage {
      min-height: 17.2rem;
   }
}

@media (min-width : 1024px) {
   #contact .contact__description {
      padding-inline: 47.4rem;
   }
}