#perfil .perfil__text {
   display: flex;
   align-items: center;
   justify-content: center;
}

#perfil .perfil__paragraph {
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 2rem;

   color: var(--azul);

   padding: 2.4rem 5.6rem;
}