#home {
   display: flex;
   flex-direction: column;
}

#home .home__description {
   padding-inline: 5rem;
}

#home .home__paragraph {
   line-height: 2.4rem;

   color: #ffffff;
}

#home .p-1 {
   display: none;
}

#home .home__buttons {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   gap: 1.6rem;
   margin-bottom: 2.4rem;
}

#home .home__buttons-button {
   width: 18rem;
   height: 4rem;
}

#home .home__image {
   position: relative;
   bottom: -2rem;
   z-index: -1;

   display: flex;
   justify-content: center;
}

#home .home__image-img {
   height: 42.2rem;
   width: 33.28rem;
}

@media (min-width: 768px) {
   #home .home__buttons-button {
      height: 4.8rem;
      width: 34.4rem;
   }

   #home .home__description {
      padding-inline: 21.4rem;
   }

   #home .p-1 {
      display: block;
   }

   #home .home__buttons {
      margin-bottom: 4rem;
   }
}