#gallery .gallery__description {
   padding: 3rem 6.7rem;
}

#gallery .gallery__cards {
   display: flex;
   flex-direction: column;
   gap: 1.6rem;
}

#gallery .gallery__cards-card {
   display: flex;
   justify-content: space-evenly;

   padding: 2.4rem;
   background-color: var(--cinza-claro-fundos);
}

#gallery .gallery__cards-card img {
   width: 14.8rem;
   height: 14.8rem;
}

#gallery .gallery__card-information {
   display: flex;
   flex-direction: column;

   gap: 3rem;
}

#gallery .group-a {
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 2rem;

   color: var(--cinza);
}

#gallery .gallery__information-name {
   font-weight: 600;
   font-size: 1.6rem;
   line-height: 2rem;

   color: var(--azul);

   margin-bottom: 0.8rem;
}

#gallery .gallery__information-address {
   font-weight: 400;
   font-size: 1.2rem;
   line-height: 1.6rem;

   color: var(--cinza);
}

#gallery .gallery__information-link {
   display: flex;
   gap: 0.8rem;

   text-decoration: none;
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.6rem;
}

#gallery .gallery__information-link img {
   width: 1.8rem;
   height: 1.8rem;
}