body {
   font-family: 'Poppins', sans-serif;
}

.wrapper {
   width: min(100%);
   margin-inline: auto;
}

main {
   margin-top: -12rem;
}

.hidden {
   display: none;
}

* img {
   width: min(90%, 100%);
}

@media (min-width: 768px) {
   .wrapper {
      width: min(76.8rem, 100%);
      margin-inline: auto;
   }
}

@media (min-width: 1024px) {
   .wrapper {
      width: min(144rem, 100%);
      margin-inline: auto;
   }
}