body {
   font-family: 'Poppins', sans-serif;
}

.wrapper {
   width: min(36rem, 100%);
   margin-inline: auto;

}

.button {
   display: flex;
   justify-content: center;
   align-items: center;

   background: var(--coral);
   border-radius: 6px;
   border: none;

   color: #ffffff;
}

.button:hover {
   background-color: var(--button-hover);
}

.hidden {
   display: none;
}

* img {
   width: min(90%, 100%);
}