#logo {
   margin-block: 2.4rem;
}

#logo .logo__img {
   display: flex;
   align-items: center;
   justify-content: center;
}

#logo .logo__img svg {
   width: 50%;
}

@media (min-width: 768px) {
   #logo {
      margin-top: 9rem;
   }
}